<div class="pmj-content">
  <div class="container">
    <div *ngIf="loading" class="row">
      <div class="col-12">
        <div *ngIf="loading" class="nxt-loading">
          <div class="spinner-border text-primary" role="status">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="pmj-content-title">Vehicles</span>
        <span class="float-right">
          <a routerLink="/console/vehicles/new" class="btn btn-primary" role="button" aria-pressed="true">New vehicle</a>
        </span>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-3">
                <span>Name</span>
              </div>
              <div class="col-3">
                <span>Brand</span>
              </div>
              <div class="col-3">
                <span>Capacity</span>
              </div>
              <div class="col-3"></div>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li *ngFor="let v of vehicles; let i = index" class="list-group-item">
              <div class="row">
                <div class="col-3">
                  <span>{{v.name}}</span>
                </div>
                <div class="col-3">
                  <span>{{v.brand}}</span>
                </div>
                <div class="col-3">
                  <span>{{v.rows * v.columns}}</span>
                </div>
                <div class="col-3">
                  <span><a routerLink="/console/vehicles/{{v.id}}/edit" role="button" aria-pressed="true">Edit</a></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
