<div class="pmj-content">
  <div class="container">
    <div *ngIf="loading" class="row">
      <div class="col-12">
        <div *ngIf="loading" class="nxt-loading">
          <div class="spinner-border text-primary" role="status">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="pmj-content-title">Upcoming: Mbeya - Dar Es Salaam on Feb 25th, 2020</span>
        <span class="float-right">
          <a routerLink="/console/upcoming" class="btn btn-danger" role="button" aria-pressed="true">Cancel</a>
        </span>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <!-- <div class="col-12">
        <form>
          <div class="form-group">
            <label for="formControlRange">Stops</label>
            <input type="range" class="form-control-range" id="formControlRange">
          </div>
        </form>
      </div> -->
      <div class="col-12">
        <div class="form-inline">
          <div class="form-group">
            <label for="exampleFormControlSelect1">When at</label>
            <select (change)="onStopChange($event)" class="form-control ml-2">
              <option *ngFor="let s of stops; let i = index" [value]="s.stop_id">{{s.stop_name}}</option>
            </select>
          </div>
          <!-- <div class="form-group ml-5">
            <label for="exampleFormControlSelect1">To</label>
            <select (change)="onDestinationChange($event)"  class="form-control ml-2" id="exampleFormControlSelect1">
              <option *ngFor="let s of stops; let i = index" [value]="s.stop_id">{{s.stop_name}}</option>
            </select>
          </div> -->
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-6" style="text-align: center">
        <div *ngFor="let r of rows; let i = index">
          <span *ngFor="let c of r.split(''); let j = index">
            <img *ngIf="c === 'a'" (click)="view(i, j)" height="50px" src="assets/seat_black.png" class="pmj-hover"/>
            <img *ngIf="c === 'b'" (click)="view(i, j)" height="50px" src="assets/seat_red.png" class="pmj-hover"/>
            <img *ngIf="c === ' '" height="50px" src="assets/space.png" class="pmj-hover"/>
          </span>
        </div>
      </div>
      <div class="col-6">
        <div *ngIf="selectedBooking != null">
          <p>First name: {{selectedBooking['first_name']}}</p>
          <p>Last name: {{selectedBooking['last_name']}}</p>
          <p>Phone: {{selectedBooking['phone']}}</p>
          <p>Origin: {{selectedBooking['origin_name']}}</p>
          <p>Destination: {{selectedBooking['destination_name']}}</p>
          <p>Created: {{selectedBooking['Created']}}</p>
          <p>Row: {{selectedBooking['row']}}</p>
          <p>Column: {{selectedBooking['column']}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
