<div class="pmj-content">
  <div class="container">
    <div *ngIf="loading" class="row">
      <div class="col-12">
        <div *ngIf="loading" class="nxt-loading">
          <div class="spinner-border text-primary" role="status">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="pmj-content-title">Agents</span>
        <span class="float-right">
          <a routerLink="/console/agents/new" class="btn btn-primary" role="button" aria-pressed="true">New agent</a>
        </span>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-3">
                <span>First name</span>
              </div>
              <div class="col-3">
                <span>Last name</span>
              </div>
              <div class="col-3">
                <span>Phone</span>
              </div>
              <div class="col-3"></div>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li *ngFor="let a of agents; let i = index" class="list-group-item">
              <div class="row">
                <div class="col-3">
                  <span>{{a.first_name}}</span>
                </div>
                <div class="col-3">
                  <span>{{a.last_name}}</span>
                </div>
                <div class="col-3">
                  <span>{{a.phone}}</span>
                </div>
                <div class="col-3">
                  <span><a routerLink="/console/agents/{{a.id}}/edit" role="button" aria-pressed="true">Edit</a></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
