<div class="pmj-content">
  <div class="container">
    <div *ngIf="loading" class="row">
      <div class="col-12">
        <div *ngIf="loading" class="nxt-loading">
          <div class="spinner-border text-primary" role="status">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="pmj-content-title">Bookings</span>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-2">
                <span>ID</span>
              </div>
              <div class="col-2">
                <span>Name</span>
              </div>
              <div class="col-2">
                <span>Company</span>
              </div>
              <div class="col-2">
                <span>From</span>
              </div>
              <div class="col-2">
                <span>To</span>
              </div>
              <div class="col-1">
                <span>Amount</span>
              </div>
              <div class="col-1"></div>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li *ngFor="let r of bookings; let i = index" class="list-group-item">
              <div class="row">
                <div class="col-2">
                  <span>{{r.id}}</span>
                </div>
                <div class="col-2">
                  <span>{{r.first_name}} {{r.last_name}}</span>
                </div>
                <div class="col-2">
                  <span>{{r.company_name}}</span>
                </div>
                <div class="col-2">
                  <span>{{r.origin_name}}</span>
                </div>
                <div class="col-2">
                  <span>{{r.destination_name}}</span>
                </div>
                <div class="col-1">
                  <span>{{r.amount}}</span>
                </div>
                <div class="col-1">
                  <span><a routerLink="/console/bookings/{{r.id}}/edit" role="button" aria-pressed="true">View</a></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
