.pmj-content {
  padding: 20px;
  height: 100%;
  overflow: auto;
  width: calc(100vw - 15rem);
}

.pmj-content-title {
  font-size: 32px;
}

.pmj-loading {
  text-align: center;
}

.btn-margin-left {
  margin-left: 10px;
}

.pmj-input {
  width: 33%;
  border: 0px;
  outline: none;
}
