<div class="pmj-content">
  <div class="container">
    <div *ngIf="loading" class="row">
      <div class="col-12">
        <div *ngIf="loading" class="nxt-loading">
          <div class="spinner-border text-primary" role="status">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="pmj-content-title">Companies</span>
        <span class="float-right">
          <a routerLink="/console/companies/new" class="btn btn-primary" role="button" aria-pressed="true">New company</a>
        </span>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-4">
                <span>Company</span>
              </div>
              <div class="col-4">
                <span>Country</span>
              </div>
              <div class="col-4">
                <span></span>
              </div>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li *ngFor="let c of companies; let i = index" class="list-group-item">
              <div class="row">
                <div class="col-4">
                  <span>{{c.name}}</span>
                </div>
                <div class="col-4">
                  <span>{{c.country}}</span>
                </div>
                <div class="col-4">
                  <span><a routerLink="/console/companies/{{c.id}}/edit" role="button" aria-pressed="true">Edit</a></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
