<div class="pmj-content">
  <div class="container">
    <div *ngIf="loading" class="row">
      <div class="col-12">
        <div *ngIf="loading" class="nxt-loading">
          <div class="spinner-border text-primary" role="status">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="pmj-content-title">New route</span>

        <span class="float-right">
          <span *ngIf="error">{{this.error}}</span>
          <button *ngIf="phase < 1" (click)="nextPhase()" type="submit" class="btn btn-primary btn-margin-left">Next</button>
          <button *ngIf="phase > 0" (click)="prevPhase()" type="submit" class="btn btn-outline-primary btn-margin-left">Back</button>
          <button *ngIf="phase === 1" (click)="save()" type="submit" class="btn btn-success btn-margin-left">Save</button>
          <a routerLink="/console/routes" class="btn btn-danger btn-margin-left" role="button" aria-pressed="true">Cancel</a>
        </span>
      </div>
    </div>
    <br/>
    <br/>
    <div *ngIf="phase === 0" class="row">
      <div class="col-12">
        Select a company
        <br/>
        <br/>
        <div *ngFor="let c of selectableCompanies; let i = index" class="form-check">
          <input class="form-check-input" type="radio" name="route" [(ngModel)]="selectedCompanyId" value="{{c.id}}">
            {{c.name}}
          <br/>
          <br/>
        </div>
        <br/>
      </div>
    </div>
    <div *ngIf="phase === 1" class="row">
      <div class="col-4">
        <div class="pmj-selectable-stops">
          <label>Available stops</label>
          <div class="pmj-scroll-container">
            <div [sortablejs]="selectableStops" [sortablejsOptions]="clone1Options" [sortablejsCloneFunction]="myCloneImplementation">
              <div class="pmj-selectable-stop" *ngFor="let s of selectableStops">
                {{ s.name }}
              </div>
            </div>
          </div>
        </div>
        <br/>
      </div>
      <div class="col-4">
        <div class="pmj-selected-stops" >
          <label>Selected stops</label>
          <div class="pmj-scroll-container">
            <div [sortablejs]="selectedStops" [sortablejsOptions]="clone2Options">
              <div class="pmj-selected-stop" *ngFor="let s of selectedStops" [class.pmj-selected-stop-active]="selectedStop === s" (click)="selectStop(s)">
                {{ s.name }}, on day {{s.departure_day}} at {{s.departure_hour}}: {{s.departure_minute}}
                <span class="float-right">
                  <fa-icon (click)="removeRouteStop(s)" [icon]="removeIcon" class="fa-fw"></fa-icon>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div *ngIf="selectedStop" class="row">
          <div class="col-12">
          <p>The bus will be at {{selectedStop.name}} at the day, hour and minute below:</p>
          <br/>
          <label>Day</label>
          <input type="number" [(ngModel)]="selectedStop.departure_day" class="form-control" aria-describedby="emailHelp" placeholder="0, 1, 2...">
          <br/>
          <label>Hour</label>
          <input type="number" [(ngModel)]="selectedStop.departure_hour" class="form-control" aria-describedby="emailHelp" placeholder="0-23">
          <br/>
          <label>Minute</label>
          <input type="number" [(ngModel)]="selectedStop.departure_minute" class="form-control" aria-describedby="emailHelp" placeholder="0-59">
          <br/>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
