<div class="pmj-content">
  <div class="container">
    <div *ngIf="loading" class="row">
      <div class="col-12">
        <div *ngIf="loading" class="nxt-loading">
          <div class="spinner-border text-primary" role="status">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="pmj-content-title">Upcoming trips</span>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-12">
        <div *ngFor="let u of upcoming; let i = index">
          <div class="row">
            <div class="col-12">
              <p>{{u['formatted_date']}}</p>
              <div class="card">
                <ul class="list-group list-group-flush">
                  <li *ngFor="let t of u['items']; let i = index" class="list-group-item">
                    <div class="row">
                      <div class="col-3">
                        <span>{{t.company_name}}</span>
                      </div>
                      <div class="col-3">
                        <span>{{t.origin_name}}</span>
                      </div>
                      <div class="col-3">
                        <span>{{t.destination_name}}</span>
                      </div>
                      <div class="col-3">
                        <span><a routerLink="/console/upcoming/{{t.id}}/view" [queryParams]="{date: u['date'], trip_id: t['trip_id']}" role="button" aria-pressed="true">View</a></span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <br/>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
