<div class="row nxt-row">
  <div class="col-12 nxt-col">
    <table class="nxt-table">
      <tbody>
        <tr>
          <td class="align-middle">
            <div class="form-signin">
              <p class="nxt-ayrton">GoPamoja!<p>
              <br/>
              <!-- <h1 class="h3 mb-3 font-weight-normal">Login</h1> -->
              <label for="inputEmail" class="sr-only">Email address</label>
              <input [(ngModel)]="email" type="email" class="form-control" placeholder="Email address" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password" required>
              <button (click)="signin()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
              <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
