<div class="pmj-content">
  <div class="container">
    <div *ngIf="loading" class="row">
      <div class="col-12">
        <div *ngIf="loading" class="nxt-loading">
          <div class="spinner-border text-primary" role="status">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="pmj-content-title">Transactions</span>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-4">
                <span>ID</span>
              </div>
              <div class="col-2">
                <span>Name</span>
              </div>
              <div class="col-2">
                <span>From</span>
              </div>
              <div class="col-2">
                <span>To</span>
              </div>
              <div class="col-1">Amount</div>
              <div class="col-1"></div>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li *ngFor="let t of transactions; let i = index" class="list-group-item">
              <div class="row">
                <div class="col-4">
                  <span>{{t.uuid}}</span>
                </div>
                <div class="col-2">
                  <span>{{t.first_name}} {{t.last_name}}</span>
                </div>
                <div class="col-2">
                  <span>{{t.origin_name}}</span>
                </div>
                <div class="col-2">
                  <span>{{t.destination_name}}</span>
                </div>
                <div class="col-1">
                  <span>{{t.amount}}</span>
                </div>
                <div class="col-1">
                  <span><a routerLink="/console/transactions/{{t.id}}/view" role="button" aria-pressed="true">View</a></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
