<div class="pmj-content">
  <div class="container">
    <div *ngIf="loading" class="row">
      <div class="col-12">
        <div *ngIf="loading" class="nxt-loading">
          <div class="spinner-border text-primary" role="status">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="pmj-content-title">Edit trip</span>
        <span class="float-right">
          <span *ngIf="error != null">{{error}}</span>
          <button (click)="save()" type="submit" class="btn btn-success btn-margin-left">Save</button>
          <a routerLink="/console/trips" class="btn btn-danger btn-margin-left" role="button" aria-pressed="true">Cancel</a>
        </span>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-12">
        Select a vehicle
        <br/>
        <br/>
        <div *ngFor="let v of vehicles; let i = index" class="form-check">
          <input class="form-check-input" type="radio" name="vehicle_id" [(ngModel)]="trip['vehicle_id']" value="{{v.id}}">
            {{v.name}} - {{v.brand}}
          <br/>
          <br/>
        </div>
        <br/>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-12">
        Days of the week
        <div  *ngFor="let d of daysOfTheWeek; let i = index" class="form-check">
          <label class="form-check-label">
             <input type="checkbox" (change)="selectDay(d)" [ngModel]="d.value"> {{d.name}}
          </label>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-12">
        Hidden?
        <div *ngFor="let a of hiddenAnswers; let i = index" class="form-check">
          <input class="form-check-input" type="radio" name="hidden" [(ngModel)]="trip['hidden']" value="{{a.value}}">
          {{a.title}}
          <br/>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>
